body{
  background-color:rgba(129, 235, 226, 0.808);
  text-align: center;
}
#game {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
#game div {
  border: 2px solid black;
  border-radius: 10px;
  width: 15vw;
  background-image: url(gifs/giphy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25vh;
  margin: 10px;
  display: inline-block;
} 

#restart-btn{
  display: none;
}

.score{

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25vh;
  margin: 7.5vw;
  display: inline;
  font-size: 20px;
  text-align: center;
}

.best-score{
  display: flex;
  justify-content: center;
}